footer {
    position: relative;

	.navbar {
        height: 10vh;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

		.container-fluid {
            justify-content: space-around;

            .navbar-brand {
                font-size: 16px;

                a {
                    text-decoration: none;
                    color: #fff;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
		}
	}
}