$textColor: #15023a;

header {
	.navbar {
        height: 10vh;

		.container-fluid {
            justify-content: flex-start;

            .navbar-brand {
                margin: 0 18px;
                font-size: 18px;
            }
		}
	}
}
